<section>
	<h2>About</h2>
	<p><a href="http://zamecnik.me"><img src="http://www.gravatar.com/avatar/f90538dcd2df4a510c8f0b057154dea1" align="right"></a>
	<p>
		This website is dedicated to all people who would like to learn the music theory from principles to advanced concepts in an comprehensible way using visualization and without unnecessary complexity.
	</p>
	<p>
		Written by <a href="http://zamecnik.me">Bohumír Zámečník</a>
	</p>
	<p>
	<a href="https://twitter.com/bzamecnik" class="twitter-follow-button" data-show-count="false">Follow @bzamecnik</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</p>
</section>
