<section>
	<h2>About harmoneye.me</h2>
	<p><a href="/about/"><img src="https://s.gravatar.com/avatar/f90538dcd2df4a510c8f0b057154dea1?s=160" align="right" title="Written by Bohumír Zámečník" width="80" style="margin: 0 0 10px 10px"></a>
	<p>
		This website is dedicated to all people who would like to learn the music theory from principles to advanced concepts in an comprehensible way using visualization and without unnecessary complexity.
	</p>
	<p><a href="/about/">Find out more</a>.</p>
</section>
