<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Start here</a></li>
  <li><a href="{{ root_url }}/lessons/">Lessons</a></li>
  <li><a href="{{ root_url }}/blog/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives/">Archives</a></li>
  {% comment %}
  <li><a href="http://harmoneye.com/" title="See the tones and chords in music visually and in real-time">HarmonEye App</a></li>
  {% endcomment %}
  <li><a href="{{ root_url }}/about/">About</a></li>
  <li><a href="{{ root_url }}/contact/">Contact</a></li>
</ul>
