// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.github-ribbon {
	img {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		opacity: 0.5;
	}
	img:hover {
		opacity: 0.85;
	}
}

body > header h1 > a {
	padding-left: 88px;
}

body > header h1 {
	background-image: url(/assets/HarmonEyeIcon72x72.png);
	background-size: 72px 72px;
	background-repeat: no-repeat;
	min-height: 72px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
	body > header h1 {
		background-image: url(/assets/HarmonEyeIcon72x72@2x.png);
	}
}

body > header {
	padding-top: 0.9em;
	padding-bottom: 0.9em;
}

.action-button {
	text-align: center;
	text-decoration: none;
	font-size: 150%;
	color: #eee;
	background: rgb(247, 115, 33);
	padding: 20px 40px;
	display: inline-block;
	white-space: nowrap;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.action-button:hover {
	background: rgb(239, 80, 22);
}

.action-button:hover,
.action-button:visited {
	color: #fff;
}

.center {
	text-align: center;
}

.title-state-label {
	color: white;
	background: #ef5016;
	font-size: 30%;
	top: -1.5em;
	left: -0.5em;
	padding: 2px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	position: relative;
}

a {
	color: #ef5016;
}

article a {
	text-decoration: none;
}

a:visited {
	color: #7f3b26;
}

a:hover {
	color: #ef5016;
	text-decoration: underline;
}
