// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.github-ribbon {
	img {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		opacity: 0.5;
	}
	img:hover {
		opacity: 0.85;
	}
}